@import "breakpoints";
@import "utils";
@import "colors";
@import "fonts";
@import "animations";
@import "common";

// components
@import "components/article";
@import "components/navbar";
@import "components/hero";
@import "components/section1";
@import "components/section2";
@import "components/footer";

body {
	font-family: "Public Sans", sans-serif;
	margin: 0;
}

main {
	overflow: hidden;
}
